In [1]:
# Import the dependencies 
import pandas as pd

In [2]:
# Establish a connection to the source data file and then read the data into dataframes

original_school_data = "Resources/schools_complete.csv"
original_student_data = "Resources/students_complete.csv"

school_information = pd.read_csv(original_school_data)
student_information = pd.read_csv(original_student_data)

In [3]:
# Combine the data from both files into a single dataframe 

school_student_data = pd.merge(school_information, student_information, how="left", on=["school_name", "school_name"])

# Trim the data to only include the District schools

District_df = school_student_data.loc[school_student_data["type"] == "District"]

District_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
37530,13,Ford High School,District,2739,1763916,37530,William Rivera,M,9th,63,59
37531,13,Ford High School,District,2739,1763916,37531,Bernard Reid,M,9th,94,80
37532,13,Ford High School,District,2739,1763916,37532,Dawn Sawyer,F,12th,91,66
37533,13,Ford High School,District,2739,1763916,37533,Thomas Knapp,M,12th,75,70
37534,13,Ford High School,District,2739,1763916,37534,Melissa Porter,F,9th,76,84

In [4]:
# Calculate the total number of District Schools
total_Dschools_list = District_df[["School ID"]]

total_Dschools = total_Dschools_list.nunique().item()

#Display the total number of the schools listed based on the number of unique IDs  
total_Dschools

7

In [5]:
# Calculate the total number of District students
total_Dstudents_list = District_df[['Student ID']]

total_Dstudents = total_Dstudents_list.nunique().item()

# Display the total number of students
total_Dstudents

26976

In [6]:
# Calculate the total District budget 
District_budgets = school_information.loc[school_information['type'] == "District"]


Total_District_budget = District_budgets["budget"].sum()

Total_District_budget

17347923

In [7]:
# Calculate the average math score for the District 
District_math = District_df[["math_score"]]

avg_District_math = District_math.mean().item()

avg_District_math

76.98702550415184

In [8]:
# Calculate the average reading score for the District

District_reading = District_df[["reading_score"]]

avg_District_reading = District_reading.mean().item()

avg_District_reading

80.96248517200475

In [9]:
# % passing math (the percentage of District students who passed math)
bins = [0,59.9,100]

group_names = ["Fail", "Pass"]

# Create a new column that will represent the records that passed or failed for math
District_df["Passing/Failing Math"] = pd.cut(District_df["math_score"], bins, labels =group_names).copy()

District_df

C:\Users\kpear\AppData\Local\Temp/ipykernel_14012/4064093926.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  District_df["Passing/Failing Math"] = pd.cut(District_df["math_score"], bins, labels =group_names).copy()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing/Failing Math
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
37530,13,Ford High School,District,2739,1763916,37530,William Rivera,M,9th,63,59,Fail
37531,13,Ford High School,District,2739,1763916,37531,Bernard Reid,M,9th,94,80,Pass
37532,13,Ford High School,District,2739,1763916,37532,Dawn Sawyer,F,12th,91,66,Pass
37533,13,Ford High School,District,2739,1763916,37533,Thomas Knapp,M,12th,75,70,Pass
37534,13,Ford High School,District,2739,1763916,37534,Melissa Porter,F,9th,76,84,Pass

In [10]:
# Remove the NaN row 
District_df = District_df.dropna(how = 'all')

District_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing/Failing Math
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
37530,13,Ford High School,District,2739,1763916,37530,William Rivera,M,9th,63,59,Fail
37531,13,Ford High School,District,2739,1763916,37531,Bernard Reid,M,9th,94,80,Pass
37532,13,Ford High School,District,2739,1763916,37532,Dawn Sawyer,F,12th,91,66,Pass
37533,13,Ford High School,District,2739,1763916,37533,Thomas Knapp,M,12th,75,70,Pass
37534,13,Ford High School,District,2739,1763916,37534,Melissa Porter,F,9th,76,84,Pass

In [11]:
# Filter the Passing/Failing Math column to include only the passing students in the dataframe

District_passing_math = District_df.loc[District_df["Passing/Failing Math"] == "Pass"]

District_passing_math

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing/Failing Math
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
37529,13,Ford High School,District,2739,1763916,37529,Victoria Rodriguez,F,11th,76,69,Pass
37531,13,Ford High School,District,2739,1763916,37531,Bernard Reid,M,9th,94,80,Pass
37532,13,Ford High School,District,2739,1763916,37532,Dawn Sawyer,F,12th,91,66,Pass
37533,13,Ford High School,District,2739,1763916,37533,Thomas Knapp,M,12th,75,70,Pass
37534,13,Ford High School,District,2739,1763916,37534,Melissa Porter,F,9th,76,84,Pass

In [12]:
# Total number of passing math grades in the District
count_District_passing_math = District_passing_math['Passing/Failing Math'].value_counts()

total_District_passing_math = count_District_passing_math.sum()

total_District_passing_math

24017

In [13]:

# Calculate the total number of math students
District_Students = District_df['Passing/Failing Math'].value_counts()

total_District_math = District_Students.sum()

# Display the total number of students
total_District_math

26976

In [14]:
# Percentage of passing math grades 

District_passing_math = '{:.2%}'.format(total_District_passing_math/total_District_math) 

District_passing_math

'89.03%'

In [15]:
# % passing math (the percentage of District students who passed math)
bins = [0,59.9,100]

group_names = ["Fail", "Pass"]

# Create a new column that will represent the records that passed or failed for math
District_df["Passing/Failing Reading"] = pd.cut(District_df["reading_score"], bins, labels =group_names).copy()

District_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing/Failing Math,Passing/Failing Reading
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Pass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37530,13,Ford High School,District,2739,1763916,37530,William Rivera,M,9th,63,59,Fail,Pass
37531,13,Ford High School,District,2739,1763916,37531,Bernard Reid,M,9th,94,80,Pass,Pass
37532,13,Ford High School,District,2739,1763916,37532,Dawn Sawyer,F,12th,91,66,Pass,Pass
37533,13,Ford High School,District,2739,1763916,37533,Thomas Knapp,M,12th,75,70,Pass,Pass
37534,13,Ford High School,District,2739,1763916,37534,Melissa Porter,F,9th,76,84,Pass,Pass

In [16]:
# Filter the Passing/Failing Reading column to include only the passing students in the dataframe

District_passing_reading = District_df.loc[District_df["Passing/Failing Reading"] == "Pass"]


# Total number of passing grades
count_District_passing_reading = District_passing_reading['Passing/Failing Reading'].value_counts()

total_District_passing_reading = count_District_passing_reading.sum()

total_District_passing_reading

26976

In [17]:
# Total number of reading grades

count_District_reading = District_df["Passing/Failing Reading"].value_counts()

total_District_reading = count_District_reading.sum()

total_District_reading

26976

In [18]:
# Percentage of passing reading grades 

District_pass_reading = '{:.0%}'.format(total_District_passing_reading/total_District_reading)

District_pass_reading

'100%'

In [19]:
# The total percentage of students that are passing based on math AND reading scores

total_overall_passing = '{:.0%}'.format((total_District_passing_math + \
                                         total_District_passing_reading)/(total_District_math + total_District_reading))

total_overall_passing

'95%'

In [20]:
# Develop the District Summary dataframe

District_Summary_df = pd.DataFrame({"District Summary":["Total Schools","Total Students",\
                                                        "Total Budget","Average Math Score","Average Reading Score",\
                                                        "%Passing Math", "%Passing Reading", "%Overall Passing"],
                                   "Summary Values":[total_Dschools,total_Dstudents,Total_District_budget,avg_District_math,\
                                                    avg_District_reading,District_passing_math,District_pass_reading,total_overall_passing]})
Final_District_df = District_Summary_df.set_index("District Summary")
Final_District_df

                      Summary Values
District Summary
Total Schools                      7
Total Students                 26976
Total Budget                17347923
Average Math Score         76.987026
Average Reading Score      80.962485
%Passing Math                 89.03%
%Passing Reading                100%
%Overall Passing                 95%

In [21]:
# Create a copy of the original merged data to maintain data integrity as we manipulate the dataframe going forward
# This way an orginal copy is available if we need to reference it later or refresh our dataset at some point. 
All_Schools_df = school_student_data.copy()

All_Schools_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [22]:
# % passing math (the percentage of District students who passed math)
bins = [0,59.9,100]

group_names = ["Fail", "Pass"]

# Create a new column that will represent the records that passed or failed for math and reading
All_Schools_df["Passing/Failing Math"] = pd.cut(All_Schools_df["math_score"], bins, labels =group_names).copy()
All_Schools_df["Passing/Failing Reading"] = pd.cut(All_Schools_df["reading_score"], bins, labels =group_names).copy()


All_Schools_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing/Failing Math,Passing/Failing Reading
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Pass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,Pass,Pass
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,Pass,Pass
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,Pass,Pass
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,Pass,Pass
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,Pass,Pass

In [23]:
# Remove the Nans from the dataframe
All_Schools_df = All_Schools_df.dropna(how = 'all')

All_Schools_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Passing/Failing Math,Passing/Failing Reading
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Pass,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Pass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,Pass,Pass
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,Pass,Pass
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,Pass,Pass
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,Pass,Pass
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,Pass,Pass

In [24]:
# Create a new dataframe that will group the All_Schools data based on the school name and type. This helps to 
# filter the data
Schools_df = All_Schools_df.groupby(["school_name", "type"])

Schools_df['Student ID'].count()

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [25]:
# Calculate the percentage of students passing reading in each school
All_passing_reading = All_Schools_df.loc[All_Schools_df["Passing/Failing Reading"] == "Pass"]

Schools_passing_reading = All_passing_reading.groupby(["school_name", "type"])

TSchools_passing_reading = Schools_passing_reading["Passing/Failing Reading"].count()/Schools_passing_reading["Student ID"].count()

TSchools_passing_reading

school_name            type
Bailey High School     District    1.0
Cabrera High School    Charter     1.0
Figueroa High School   District    1.0
Ford High School       District    1.0
Griffin High School    Charter     1.0
Hernandez High School  District    1.0
Holden High School     Charter     1.0
Huang High School      District    1.0
Johnson High School    District    1.0
Pena High School       Charter     1.0
Rodriguez High School  District    1.0
Shelton High School    Charter     1.0
Thomas High School     Charter     1.0
Wilson High School     Charter     1.0
Wright High School     Charter     1.0
dtype: float64

In [26]:
# Calculate the percentage of students passing math in each school
All_passing_math = All_Schools_df.loc[All_Schools_df["Passing/Failing Math"] == "Pass"]

Schools_passing_math = All_passing_math.groupby(["school_name", "type"])

TSchools_passing_math = Schools_passing_math["Passing/Failing Math"].count()/Schools_df['Student ID'].count()

TSchools_passing_math

school_name            type
Bailey High School     District    0.895297
Cabrera High School    Charter     1.000000
Figueroa High School   District    0.884368
Ford High School       District    0.893027
Griffin High School    Charter     1.000000
Hernandez High School  District    0.890831
Holden High School     Charter     1.000000
Huang High School      District    0.888584
Johnson High School    District    0.891829
Pena High School       Charter     1.000000
Rodriguez High School  District    0.885471
Shelton High School    Charter     1.000000
Thomas High School     Charter     1.000000
Wilson High School     Charter     1.000000
Wright High School     Charter     1.000000
dtype: float64

In [39]:
Overall_Passing_math_and_reading = ((Schools_passing_math["Passing/Failing Math"].count()) + \
                                    (Schools_passing_reading["Passing/Failing Reading"].count()))\
                                    /(Schools_df['Student ID'].count()*2)

Overall_Passing_math_and_reading

school_name            type
Bailey High School     District    0.947649
Cabrera High School    Charter     1.000000
Figueroa High School   District    0.942184
Ford High School       District    0.946513
Griffin High School    Charter     1.000000
Hernandez High School  District    0.945415
Holden High School     Charter     1.000000
Huang High School      District    0.944292
Johnson High School    District    0.945915
Pena High School       Charter     1.000000
Rodriguez High School  District    0.942736
Shelton High School    Charter     1.000000
Thomas High School     Charter     1.000000
Wilson High School     Charter     1.000000
Wright High School     Charter     1.000000
dtype: float64

In [40]:
# Create a variable that will hold the total number of students per school 
Total_Students_AllSchools = Schools_df['Student ID'].count()

Total_Students_AllSchools

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [41]:
# Create a variable that will hold the budget for each school 
Total_School_Budget_df = Schools_df['budget'].unique().astype('int64')

Total_School_Budget_df

school_name            type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: budget, dtype: int64

In [42]:
# Taking an itinal look at the overall School Summary to make sure our data is coming together correctly

School_Summary_df = pd.DataFrame({'Total Students': Total_Students_AllSchools, 'Total Budget': Total_School_Budget_df})

School_Summary_df

                                Total Students  Total Budget
school_name           type
Bailey High School    District            4976       3124928
Cabrera High School   Charter             1858       1081356
Figueroa High School  District            2949       1884411
Ford High School      District            2739       1763916
Griffin High School   Charter             1468        917500
Hernandez High School District            4635       3022020
Holden High School    Charter              427        248087
Huang High School     District            2917       1910635
Johnson High School   District            4761       3094650
Pena High School      Charter              962        585858
Rodriguez High School District            3999       2547363
Shelton High School   Charter             1761       1056600
Thomas High School    Charter             1635       1043130
Wilson High School    Charter             2283       1319574
Wright High School    Charter             1800       1049400

In [43]:
# Add a column that represents the Per Student Budget for each school

School_Summary_df["Per Student Budget"] = School_Summary_df["Total Budget"] / School_Summary_df["Total Students"]

In [44]:
# Add a column that represents the Average math score per school

School_Summary_df["Average Math Score"] = Schools_df['math_score'].sum()/Schools_df['Student ID'].count()

In [45]:
# Add a column that represents the Average reading score per school

School_Summary_df["Average Reading Score"] = Schools_df['reading_score'].sum()/Schools_df['Student ID'].count()

School_Summary_df

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,type,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Holden High School,Charter,427,248087,581.0,83.803279,83.814988
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
Pena High School,Charter,962,585858,609.0,83.839917,84.044699
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000

In [48]:
# Add the columns for % Passing Math, % Passing Reading, and % Overall Passing. These variables were 
# created earlier on in the program (Cell 24-39). 

School_Summary_df["% Passing Math"] = TSchools_passing_math
School_Summary_df["% Passing Reading"] = TSchools_passing_reading
School_Summary_df["% Overall Passing"] = Overall_Passing_math_and_reading
School_Summary_df

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.895297,1.0,0.947649
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.000000,1.0,1.000000
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.884368,1.0,0.942184
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.893027,1.0,0.946513
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.000000,1.0,1.000000
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.890831,1.0,0.945415
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,1.000000,1.0,1.000000
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.888584,1.0,0.944292
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.891829,1.0,0.945915
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,1.000000,1.0,1.000000
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.885471,1.0,0.942736
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1.000000,1.0,1.000000
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1.000000,1.0,1.000000
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,1.000000,1.0,1.000000
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1.000000,1.0,1.000000

In [50]:
# Create a DataFramge that highlights the top 5 performing schools based on % Overall Passing. 
Highest_Performing_Schools_df = School_Summary_df.sort_values("% Overall Passing", ascending=False)

Highest_Performing_Schools_df.head()

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.0,1.0,1.0
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.0,1.0,1.0
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,1.0,1.0,1.0
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,1.0,1.0,1.0
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1.0,1.0,1.0

In [51]:
# Create a DataFramge that highlights the bottom  5 performing schools based on % Overall Passing. 

Highest_Performing_Schools_df = School_Summary_df.sort_values("% Overall Passing")

Highest_Performing_Schools_df.head()

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.884368,1.0,0.942184
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.885471,1.0,0.942736
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.888584,1.0,0.944292
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.890831,1.0,0.945415
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.891829,1.0,0.945915

In [56]:
School_Grades = All_Schools_df.groupby(['school_name','grade'])

Avg_Math_Grades = School_Grades['math_score'].mean()

Avg_Math_Grades

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

In [57]:
School_Grades = All_Schools_df.groupby(['school_name','grade'])

Avg_Reading_Grades = School_Grades['reading_score'].mean()

Avg_Reading_Grades

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64